@model B2Handpicked.UI.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h4>Login</h4>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" asp-for="Username">
        <label class="mdl-textfield__label" asp-for="Username"></label>
        <span asp-validation-for="Username" class="mdl-textfield__error"></span>
    </div>
    <br><br>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" asp-for="Password">
        <label class="mdl-textfield__label" asp-for="Password"></label>
        <span asp-validation-for="Password" class="mdl-textfield__error"></span>
    </div>
    <br><br>
    <input type="submit" value="Log in" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
</form>