@model B2Handpicked.DomainModel.ContactPerson

@{
    ViewData["Title"] = "Contact person details";
}

<h4>Contact person details</h4>

<partial name="ContactPersons/Details" model="Model"/>

<a asp-action="Edit" asp-route-id="@Model.Id">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fab_bottom-right">
        <i class="material-icons">edit</i>
    </button>
</a>