@model IEnumerable<B2Handpicked.DomainModel.ContactPerson>

@{
    ViewData["Title"] = "Contact persons";
}

<h4>Contact persons</h4>

<partial name="ContactPersons/List" model="Model" />

<a asp-action="Create">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fab_bottom-right">
        <i class="material-icons">add</i>
    </button>
</a>