@model B2Handpicked.DomainModel.Employee

@{
    ViewData["Title"] = "Delete employee";
}

<h4>Are you sure you want to delete this employee?</h4>

<partial name="Employees/Details" model="Model" />

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button asp-action="Index" class="mdl-button mdl-js-button mdl-js-ripple-effect">Go back</button> <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-color--red mdl-color-text--white mdl-js-ripple-effect" />
</form>