body {
    background-color: #F5F5F5;
}

.mdl-layout__header .mdl-navigation__link {
    font-weight: bold;
}

.mdl-layout__header .mdl-navigation__link:hover {
    color: black;
    text-decoration: underline;
}

.mdl-layout__header .mdl-navigation__link::before {
    content: "__";
    font-weight: 100;
}

.mdl-layout__header .mdl-navigation__link::after {
    content: ".";
}

.mdl-menu__item a {
    display: inline-block;
    width: 100%;
    color: inherit;
    text-decoration: inherit;
}

.mdl-layout__content {
    padding: 16px 104px;
}

td > a > .material-icons {
    margin: 0 8px;
    color: rgb(66, 66, 66);
}

.mdl-button--fab_bottom-right {
    position: fixed;
    z-index: 50;
    bottom: 48px;
    right: 48px;
}